body {
    background-image: url("https://raw.githubusercontent.com/clnteahan/portfolio/main/assets/images/undraw_developer_activity_re_39tg.svg");
    background-repeat: no-repeat;
    background-size: auto;
    background-color: lawngreen;
}

#introText {
    color: white;
    size: 150%;
    text-align: center;
    background-color: black;
}

#firstText {
    width: 30%;
    height: 200px;
    background-color: green;
    border: 1px solid black;
    transform: translate(1000px,100px);
    padding: 10px;
    border-radius: 12px;
    color: white;
}